body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Einfacher-Grafikrahmen {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Einfacher-Textrahmen {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Arial Black", sans-serif;
	font-size:660px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Times  Roman", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(99.000px,148.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(99.000px,148.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:185.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(99.000px,148.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(99.000px,148.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:405.00px;
}
#_idContainer001 {
	-ms-transform:translate(99.000px,380.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(99.000px,380.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(99.000px,380.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(99.000px,380.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:405.00px;
}
#_idContainer002 {
	-ms-transform:translate(99.000px,613.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(99.000px,613.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:128.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(99.000px,613.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(99.000px,613.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:405.00px;
}
#_idContainer003 {
	-ms-transform:translate(15.120px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.120px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.120px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.120px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:123.84px;
}
#_idContainer004 {
	-ms-transform:translate(150.480px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(150.480px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(150.480px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(150.480px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:453.60px;
}
#_idContainer005 {
	-ms-transform:translate(15.120px,172.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.120px,172.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.120px,172.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.120px,172.626px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:578.88px;
}
#_idContainer006 {
	-ms-transform:translate(15.120px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.120px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:193.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.120px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.120px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:249.12px;
}
#_idContainer007 {
	-ms-transform:translate(271.440px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(271.440px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:193.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(271.440px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(271.440px,242.816px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:306.72px;
}
#_idContainer008 {
	-ms-transform:translate(15.120px,469.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.120px,469.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.120px,469.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.120px,469.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:552.96px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
